<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.clientservise1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/start_logo512"
        android:label="@string/name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".NotificationSettingsActivity"
            android:label="@string/title_activity_notification_settings" />
        <activity android:name=".ProfileEditorActivity"></activity>
        <activity android:name=".AboutActivity" />
        <activity android:name=".CompanyViewActivity" />
        <activity android:name=".RegistrationCompany" />
        <activity android:name=".RegistrationClient" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".EnterActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>